{
  "embeddedLanguageFormatting": "off",
  "overrides": [
    { "files": ".prettierrc", "options": { "parser": "json" } },
    {
      "files": ["*.html", "*.css"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
