/* Optimization for the article page to avoid element position glitches when scrollbar appears or disappears. */
/* Browsers display scroll bars in the vertical direction whether or not any content is actually clipped. */
/* This prevents scroll bars from appearing or disappearing when the content changes. */

/* For Windows, force scrollbar to always show */
/* Tested working well 周三 2025-05-21 12:18:38 +0800  */
html {
  overflow-y: scroll;
}

/* For MacOS, create a permanent space for scrollbar */
@supports (-moz-appearance: none) {
  html {
    scrollbar-width: thin;
  }
}

/* Create space for scrollbar on WebKit browsers */
@supports not (-moz-appearance: none) {
  html {
    margin-right: calc(100vw - 100%);
  }
}

/* Add a white space to the TOC title */
html[layout-mode="original"] .tk-segment .VPContent:not(.is-home) .VPDoc .aside .aside-container .aside-content .content,
html[layout-mode="original"] .tk-segment-nav .VPContent:not(.is-home) .VPDoc .aside .aside-container .aside-content .content {
  padding-top: 15px;
}
/* Add the same white space to the marker */
/* Add 0.5px to make a difference for better visual alignment */
html[layout-mode="original"]
  .tk-segment
  .VPContent:not(.is-home)
  .VPDoc
  .aside
  .aside-container
  .aside-content
  .content
  .outline-marker,
html[layout-mode="original"]
  .tk-segment-nav
  .VPContent:not(.is-home)
  .VPDoc
  .aside
  .aside-container
  .aside-content
  .content
  .outline-marker {
  margin-top: 15.5px;
  left: 0px;
}
