.vp-doc a {
  text-decoration: none;
}
.vp-doc a:hover {
  text-decoration: underline;
}

.vp-doc :not(pre) > code {
  user-select: all;
}

.vp-doc :not(pre) > kbd {
  border: 1px solid var(--vp-c-border);
  border-radius: 4px;
  padding: 0 6px;
  font-weight: 500;
  color: var(--vp-c-text-2);
  background-color: var(--vp-c-bg-alt);
}

/* 表格样式 */
.vp-doc table p,
.vp-doc ul,
.vp-doc ol {
  margin: 1rem 0;
}
.vp-doc tr:nth-child(2n) {
  background-color: var(--table-evenrow-color);
}

.vp-doc tr:hover {
  background-color: var(--table-focusrow-color);
}

.vp-doc th {
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid var(--table-border-color);
  background-color: var(--table-th-bg-color);
  color: var(--table-th-font-color);
  border-bottom: 0;
  text-align: left;
  margin: 0;
  padding: 13px 13px;
}

.vp-doc tr td {
  border: 1px solid var(--table-border-color);
  font-size: 1rem;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.vp-doc tr th:first-child,
.vp-doc tr td:first-child {
  margin-top: 0;
}

.vp-doc tr th:last-child,
.vp-doc tr td:last-child {
  margin-bottom: 0;
}

.vp-doc h2 {
  border-top: 1px dashed var(--vp-c-divider);
}

.vp-doc h3::before {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  content: "\f5fd";
  color: skyblue;
  margin-right: 0.4rem;
}

.vp-doc h4 {
  font-size: 18px;
  color: var(--zero-theme);
}

.vp-doc blockquote {
  padding: 15px 20px 15px 16px;
  color: #777;
  border: 1px solid var(--blockquote-border-left-color);
  border-left: 5px solid var(--blockquote-border-left-color);
  background: var(--blockquote-bg-color);
}
